[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-jwt-extended = "*"
faker = "*"
flask-migrate = "*"
bcrypt = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
