@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind utilities;

/* // add the code bellow */
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }



  /* Additional styles for the floating button */
.floating-button {
    position: fixed;
    width: 100px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: left 0.5s, top 0.5s; /* Smooth transition for movement */
  }


